/* Estilos para el Navbar */
.navbar {
  background-color: #4CAF50;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Estilo para los elementos de la lista */
.navbar-list {
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

/* Estilo para cada elemento de la lista */
.navbar-list li {
  font-size: 18px;
  font-weight: 500;
}

/* Estilo para los enlaces */
.navbar-list li a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilo al pasar el mouse por encima de los enlaces */
.navbar-list li a:hover {
  background-color: #45a049;  /* Verde oscuro en hover */
  color: #fff;
}

/* Estilo para el botón de Logout */
.navbar-list li button {
  background-color: #f44336; /* Rojo para logout */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover para el botón de logout */
.navbar-list li button:hover {
  background-color: #d32f2f; /* Rojo más oscuro en hover */
}
