/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a nice font family */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  color: #4CAF50;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  color: #555;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Home page styles */
.home-page {
  text-align: center;
}

.posts-page {
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Styling for the Links in Navbar */
.navbar-list li a {
  font-size: 18px;
  color: white;
}
/* Estilos para las páginas */
.comments-page, .about-page {
  padding: 50px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
}

.comments-page .content, .about-page .content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  color: #4CAF50;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}
/* Estilos para las páginas de Login y Register */
.login-page, .register-page {
  padding: 50px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  color: #4CAF50;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.input-group input:focus {
  outline: none;
  border-color: #4CAF50;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
}
